.gallery {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 50px;
  gap: 15px;
  min-height: 80vh;
}

.gallery .media {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.4s ease-out;
  margin-bottom: 15px;
}


.infinitS{
  text-align: center;
}

.pop {
  position: relative;
  z-index: 10000;
}

.gallery .media:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 1024px) {
  .gallery {
      padding: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .gallery {
      padding: 10px;
  }
}
